 App
NODE_ENV= production
BASE_URL=https://api.childcareregister.com
FRONTEND_URL=https://childcareregister.com
AI_URL=https://ai.childcareregister.com
PORT=5000

#  ----------------------Docker -----------------------
DOCKER_TOKEN=your-docker-personal-access-token
DOCKER_USERNAME=softvence
PACKAGE_NAME=nest-template
NODE_ENV= production
PACKAGE_VERSION=latest

# -----------------  Database  ---------------------
DATABASE_URL= postgresql://postgres:postgres@localhost:5434/nest_template_db
# -----------------  SMTP  ---------------------
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USER=contact@childcareregister.com
MAIL_PASS=your-hostinger-smtp-password

# -----------------  Seed Admin  -------------------
SUPER_ADMIN_EMAIL=superadmin@gmail.com
SUPER_ADMIN_PASS=12345678
#---------------------   Redis  -------------
REDIS_HOST= localhost
REDIS_PORT= 22376

# -----------------  JWT  ---------------------
JWT_SECRET=secret1234
JWT_EXPIRES_IN=90d

# -----------------  SMTP  ---------------------
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USER=contact@childcareregister.com
MAIL_PASS=your-hostinger-smtp-password

# -----------------  Seed Admin  -------------------
SUPER_ADMIN_EMAIL=superadmin@gmail.com
SUPER_ADMIN_PASS=12345678

# -----------------  AWS S3  ---------------------
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_BUCKET_NAME=your-bucket-name

# ------------------ twilio ----------------------
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_PHONE_NUMBER=your-twilio-phone-number

# ----------------- Global Rate Limiting ---------------------
THROTTLE_TTL=60                
THROTTLE_LIMIT=100           


#--------------  Login (prevent brute-force) ----------------
LOGIN_MAX_ATTEMPTS=5
LOGIN_WINDOW_MS=900000          
#--------------------- Signup (prevent spam accounts)--------------
SIGNUP_MAX_ATTEMPTS=3
SIGNUP_WINDOW_MS=3600000       
#------------------- OTP verification (SMS/Email)---------------
OTP_MAX_ATTEMPTS=5
OTP_WINDOW_MS=600000          


PASSWORD_RESET_MAX_ATTEMPTS=3
PASSWORD_RESET_WINDOW_MS=3600000 

LOGO_URL=https://res.cloudinary.com/dkqdwcguu/image/upload/v1770065793/galaxy_okd9sj.jpg